[submodule "Shooter IO/Assets/_Submodules/unity-simple-character-parts"]
	path = Shooter IO/Assets/_Submodules/unity-simple-character-parts
	url = ../../insthync/unity-simple-character-parts.git
[submodule "Shooter IO/Assets/_Submodules/unity-simple-monetization"]
	path = Shooter IO/Assets/_Submodules/unity-simple-monetization
	url = ../../insthync/unity-simple-monetization.git
[submodule "Shooter IO/Assets/_Submodules/unity-camera-and-input"]
	path = Shooter IO/Assets/_Submodules/unity-camera-and-input
	url = ../../insthync/unity-camera-and-input.git
[submodule "Shooter IO/Assets/_Submodules/unity-audio-manager"]
	path = Shooter IO/Assets/_Submodules/unity-audio-manager
	url = ../../insthync/unity-audio-manager.git
[submodule "Shooter IO/Assets/_Submodules/UnityPrimitiveData"]
	path = Shooter IO/Assets/_Submodules/UnityPrimitiveData
	url = ../../insthync/UnityPrimitiveData.git
[submodule "Shooter IO/Assets/_Submodules/UnityEditorUtils"]
	path = Shooter IO/Assets/_Submodules/UnityEditorUtils
	url = ../../insthync/UnityEditorUtils.git
[submodule "Shooter IO/Assets/_Submodules/simple-photon2-networkmanager"]
	path = Shooter IO/Assets/_Submodules/simple-photon2-networkmanager
	url = ../../insthync/simple-photon2-networkmanager.git
[submodule "Shooter IO/Assets/_Submodules/photon-shooter-io-core"]
	path = Shooter IO/Assets/_Submodules/photon-shooter-io-core
	url = ../photon-shooter-io-core.git
[submodule "Shooter IO/Assets/_Submodules/shooter-io-playfab-client-demo"]
	path = Shooter IO/Assets/_Submodules/shooter-io-playfab-client-demo
	url = ../shooter-io-playfab-client-demo.git
